<template>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="traitName">Command Trait name</label>
          <input type="text" name="_id" v-model="trait._id" class="form-control" id="traitName" placeholder="">
        </div>
        <div class="form-group">
          <label for="traitDescription">Command Trait description</label>
          <textarea name="description" v-model="trait.description" class="form-control" id="traitDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="traitDescription">Command Trait aliance</label>
          <select name="description" v-model="trait.aliance" class="form-control" id="traitAliance">
            <template v-for="(aliance, index) in aliances">
              <option :value="aliance._id">
                {{ aliance._id }}
              </option>
            </template>
          </select>
        </div>
        <div class="text-right" v-if="trait.blank !== undefined">
          <button role="button" v-on:click="addTraitToDB" type="button" class="btn btn-info">Add trait to DB</button>
        </div>
        <div class="text-right" v-else>
          <button role="button" v-on:click="clearTrait" type="button" class="btn btn-warning">Cancel</button>&nbsp;
          <button role="button" v-on:click="addTraitToDB" type="button" class="btn btn-info">Update trait</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { putToApi, postToApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }
  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showNotify: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    props: [
      'trait',
      'aliances'
    ],
    methods: {
      clearTrait () {
        this.$emit('update', {clear: true})
      },
      addTraitToDB () {
        let self = this
        if (this.trait.blank !== undefined) {
          postToApi('api/skirmish/' + this.trait.aliance + '/traits/command', this.trait)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.trait)
                self.showNotify({
                  title: 'Success!',
                  message: 'Command Trait "' + self.trait._id + '" - added',
                  type: 'success'
                })
                self.$emit('update', {add: self.trait})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        } else {
          putToApi('api/skirmish/' + this.trait.aliance + '/traits/command', this.trait)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.trait)
                self.showNotify({
                  title: 'Success!',
                  message: 'Command Trait "' + self.trait._id + '" - updated',
                  type: 'success'
                })
                self.$emit('update', {update: self.trait})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        }
        return false
      }
    }
  }
</script>
