<template>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="abilityName">Command Ability name</label>
          <input type="text" name="_id" v-model="ability._id" class="form-control" id="abilityName" placeholder="">
        </div>
        <div class="form-group">
          <label for="abilityDescription">Command Ability description</label>
          <textarea name="description" v-model="ability.description" class="form-control" id="abilityDescription" rows="3"></textarea>
        </div>
        <div class="text-right" v-if="ability.blank !== undefined">
          <button role="button" v-on:click="addTraitToDB" type="button" class="btn btn-info">Add ability to DB</button>
        </div>
        <div class="text-right" v-else>
          <button role="button" v-on:click="clearTrait" type="button" class="btn btn-warning">Cancel</button>&nbsp;
          <button role="button" v-on:click="addTraitToDB" type="button" class="btn btn-info">Update ability</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { putToApi, postToApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }
  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showNotify: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    props: [
      'ability'
    ],
    methods: {
      clearTrait () {
        this.$emit('update', {clear: true})
      },
      addTraitToDB () {
        let self = this
        if (this.ability.blank !== undefined) {
          postToApi('api/abilities/command', this.ability)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.ability)
                self.showNotify({
                  title: 'Success!',
                  message: 'Command Ability "' + self.ability._id + '" - added',
                  type: 'success'
                })
                self.$emit('update', {add: self.ability})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        } else {
          putToApi('api/abilities/command', this.ability)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.ability)
                self.showNotify({
                  title: 'Success!',
                  message: 'Command Ability "' + self.ability._id + '" - updated',
                  type: 'success'
                })
                self.$emit('update', {update: self.ability})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        }
        return false
      }
    }
  }
</script>
