<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new ability</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <AbilityAdd :ability="abilityModel" @update="handleUpdate"></AbilityAdd>
        </div>
      </div>
    </div>
    <div class="row" v-if="abilities.length > 0">
      <div class="col-3">
        <h3>Battle Ability name:</h3>
        <div class="list-group" id="list-tab-abilities" role="tablist">
          <template v-for="(ability, index) in abilities">
            <div class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('ability', ability._id)" data-toggle="list" :href="createId('#ability-desc', ability._id)" role="tab">
              {{ ability._id }}
              <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeAbility(ability, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
          </template>
        </div>
      </div>
      <div class="col-6">
        <div class="tab-content" id="nav-tabContent">
          <template v-for="(ability, index) in abilities">
            <div class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('ability-desc', ability._id)" role="tabpanel">
              <h3>{{ ability._id }} <a href="#" v-on:click="editAbility(ability, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
              <h5>Aliance: {{ ability.aliance }}</h5>
              <div class="content" v-html="ability.description"></div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div v-if="abilities.length === 0" class="alert alert-warning" role="alert">
      List is empty
    </div>
  </div>
</template>

<script>
  import AbilityAdd from '~/components/command-abilities/Abilities-add.vue'
  import { removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        selectedAliance: 0,
        abilityModel: {
          _id: '',
          description: '',
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    components: {
      AbilityAdd
    },
    props: ['abilities'],
    methods: {
      clearModel () {
        this.abilityModel = {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.abilities.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.abilities.length; i++) {
            if (self.abilities[i]._id === emitValues.update._id) {
              self.abilities[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeAbility (ability, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/abilities/command', {_id: ability._id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.abilities.length; i++) {
                if (self.abilities[i]._id === ability._id) {
                  (self.abilities).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Command Ability "' + ability._id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Command Ability deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editAbility (ability, e) {
        e.stopPropagation()
        e.preventDefault()
        this.abilityModel = ability
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
