<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new aliance</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <GrandAlianceAdd :aliance="alianceModel" @update="handleUpdate"></GrandAlianceAdd>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          <template v-for="(aliance, index) in aliances">
            <div class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('aliance', aliance._id)" data-toggle="list" :href="createId('#aliance-desc', aliance._id)" role="tab">
              {{ aliance._id }}
              <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeAliance(aliance._id, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
          </template>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
          <template v-for="(aliance, index) in aliances">
            <div class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('aliance-desc', aliance._id)" role="tabpanel">
              <h3>{{ aliance._id }} <a href="#" v-on:click="editAliance(aliance, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
              <div class="content" v-html="aliance.description"></div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div v-if="aliances.length === 0" class="alert alert-warning" role="alert">
      List is empty
    </div>
  </div>
</template>

<script>
  import GrandAlianceAdd from '~/components/grand-aliances/Grand-aliance-add.vue'
  import { removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        alianceModel: {
          _id: '',
          description: '',
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    components: {
      GrandAlianceAdd
    },
    props: ['aliances'],
    methods: {
      clearModel () {
        this.alianceModel = {
          _id: '',
          description: '',
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.aliances.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.aliances.length; i++) {
            if (self.aliances[i]._id === emitValues.update._id) {
              self.aliances[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeAliance (id, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/skirmish', {_id: id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.aliances.length; i++) {
                if (self.aliances[i]._id === id) {
                  (self.aliances).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Aliance "' + id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Aliance deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editAliance (aliance, e) {
        e.stopPropagation()
        e.preventDefault()
        this.alianceModel = aliance
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
