<template>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="alianceName">Grand Aliance name</label>
          <input type="text" name="_id" v-model="aliance._id" class="form-control" id="alianceName" placeholder="">
        </div>
        <div class="form-group">
          <label for="alianceDescription">Grand Aliance description</label>
          <textarea name="description" v-model="aliance.description" class="form-control" id="alianceDescription" rows="3"></textarea>
        </div>
        <div class="text-right" v-if="aliance.blank !== undefined">
          <button role="button" v-on:click="addAlianceToDB" type="button" class="btn btn-info">Add aliance to DB</button>
        </div>
        <div class="text-right" v-else>
          <button role="button" v-on:click="clearAliance" type="button" class="btn btn-warning">Cancel</button>&nbsp;
          <button role="button" v-on:click="addAlianceToDB" type="button" class="btn btn-info">Update aliance</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { putToApi, postToApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }
  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showNotify: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    props: [
      'aliance'
    ],
    methods: {
      clearAliance () {
        this.$emit('update', {clear: true})
      },
      addAlianceToDB () {
        let self = this
        if (this.aliance.blank !== undefined) {
          postToApi('api/skirmish', this.aliance)
            .then(function (response) {
              if (response.data.error === undefined) {
                self.showNotify({
                  title: 'Success!',
                  message: 'Aliance "' + self.aliance._id + '" - added',
                  type: 'success'
                })
                self.$emit('update', {add: self.aliance})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        } else {
          putToApi('api/skirmish', this.aliance)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.aliance)
                self.showNotify({
                  title: 'Success!',
                  message: 'Aliance "' + self.aliance._id + '" - updated',
                  type: 'success'
                })
                self.$emit('update', {update: self.aliance})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        }
        return false
      }
    }
  }
</script>
