<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new trait</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <TraitsAdd :aliances="aliances" :trait="traitModel" @update="handleUpdate"></TraitsAdd>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <form>
          <div class="form-group">
            <label for="alianceName"><strong>Aliance:</strong></label>
            <select class="form-control" id="alianceName" v-model="selectedAliance">
              <template v-for="(aliance, index) in aliances">
                <option :value="aliance._id">
                  {{ aliance._id }}
                </option>
              </template>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div v-if="rendered">
      <div class="row" v-if="traits.length > 0">
        <div class="col-3">
          <h3>Battle Trait name:</h3>
          <div class="list-group" id="list-tab-traits" role="tablist">
            <template v-for="(trait, index) in traits">
              <div v-if="trait.aliance === selectedAliance" class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('trait', trait._id)" data-toggle="list" :href="createId('#trait-desc', trait._id)" role="tab">
                {{ trait._id }}
                <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeTrait(trait, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </template>
          </div>
        </div>
        <div class="col-6">
          <div class="tab-content" id="nav-tabContent">
            <template v-for="(trait, index) in traits">
              <div v-if="trait.aliance === selectedAliance" class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('trait-desc', trait._id)" role="tabpanel">
                <h3>{{ trait._id }} <a href="#" v-on:click="editTrait(trait, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
                <h5>Aliance: {{ trait.aliance }}</h5>
                <div class="content" v-html="trait.description"></div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div v-if="traits.length === 0" class="alert alert-warning" role="alert">
        List is empty
      </div>
    </div>
  </div>
</template>

<script>
  import TraitsAdd from '~/components/battle-traits/Traits-add.vue'
  import { getFromApi, removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
      if (this.aliances[0] !== undefined && this.aliances[0]._id !== undefined) {
        this.selectedAliance = this.aliances[0]._id
      }
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        rendered: false,
        selectedAliance: 0,
        traits: [],
        traitModel: {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    watch: {
      selectedAliance: function (id) {
        this.loadTraits(id)
        this.selectedTab = 0
      }
    },
    components: {
      TraitsAdd
    },
    props: ['aliances'],
    methods: {
      loadTraits (id) {
        let self = this
        getFromApi('api/skirmish/' + id + '/traits/battle')
          .then((res) => {
            self.traits = res.data.traits
            self.rendered = true
          })
          .catch((e) => {
            console.warn(e)
            self.rendered = true
          })
      },
      clearModel () {
        this.traitModel = {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.traits.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.traits.length; i++) {
            if (self.traits[i]._id === emitValues.update._id) {
              self.traits[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeTrait (trait, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/skirmish/' + trait.aliance + '/traits/battle', {_id: trait._id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.traits.length; i++) {
                if (self.traits[i]._id === trait._id) {
                  (self.traits).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Aliance "' + trait._id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Battle Trait deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editTrait (trait, e) {
        e.stopPropagation()
        e.preventDefault()
        this.traitModel = trait
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
