<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new spell</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <SpellAdd :spell="spellModel" @update="handleUpdate"></SpellAdd>
        </div>
      </div>
    </div>
    <div class="row" v-if="spells.length > 0">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
        <template v-for="(spell, index) in spells">
          <div class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('spell', spell._id)" data-toggle="list" :href="createId('#spell-desc', spell._id)" role="tab">
            {{ spell._id }}
            <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeSpell(spell._id, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </template>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
          <template v-for="(spell, index) in spells">
            <div class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('spell-desc', spell._id)" role="tabpanel">
              <h3>{{ spell._id }} <a href="#" v-on:click="editSpell(spell, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
              <div class="content" v-html="spell.description"></div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div v-if="spells.length === 0" class="alert alert-warning" role="alert">
      List is empty
    </div>
  </div>
</template>

<script>
  import SpellAdd from '~/components/spells/Spell-add.vue'
  import { removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        spellModel: {
          _id: '',
          description: '',
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    components: {
      SpellAdd
    },
    props: ['spells'],
    methods: {
      clearModel () {
        this.spellModel = {
          _id: '',
          description: '',
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.spells.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.spells.length; i++) {
            if (self.spells[i]._id === emitValues.update._id) {
              self.spells[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeSpell (id, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/spells', {_id: id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.spells.length; i++) {
                if (self.spells[i]._id === id) {
                  (self.spells).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Spell "' + id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Spell deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editSpell (spell, e) {
        e.stopPropagation()
        e.preventDefault()
        this.spellModel = spell
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
