<template>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="spellName">Spell name</label>
          <input type="text" name="_id" v-model="spell._id" class="form-control" id="spellName" placeholder="">
        </div>
        <div class="form-group">
          <label for="spellDescription">Spell description</label>
          <textarea name="description" v-model="spell.description" class="form-control" id="spellDescription" rows="3"></textarea>
        </div>
        <div class="text-right" v-if="spell.blank !== undefined">
          <button role="button" v-on:click="addSpellToDB" type="button" class="btn btn-info">Add spell to DB</button>
        </div>
        <div class="text-right" v-else>
          <button role="button" v-on:click="clearSpell" type="button" class="btn btn-warning">Cancel</button>&nbsp;
          <button role="button" v-on:click="addSpellToDB" type="button" class="btn btn-info">Update spell</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { putToApi, postToApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }
  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showNotify: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    props: [
      'spell'
    ],
    methods: {
      clearSpell () {
        this.$emit('update', {clear: true})
      },
      addSpellToDB () {
        let self = this
        if (this.spell.blank !== undefined) {
          postToApi('api/spells', this.spell)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.spell)
                self.showNotify({
                  title: 'Success!',
                  message: 'Spell "' + self.spell._id + '" - added',
                  type: 'success'
                })
                self.$emit('update', {add: self.spell})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        } else {
          putToApi('api/spells', this.spell)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.spell)
                self.showNotify({
                  title: 'Success!',
                  message: 'Spell "' + self.spell._id + '" - updated',
                  type: 'success'
                })
                self.$emit('update', {update: self.spell})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        }
        return false
      }
    }
  }
</script>
