.main-container {
  margin-top: 1rem;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.btn-e-sm {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 1px;
}

.cardAdd {
  height: 0px;
  overflow: hidden;
}

.cardAdd .card {
  margin-bottom: 1rem;
}

.cardAdd.active {
  height: auto;
}

a.nuxt-link-active {
  color:#17a2b8!important;
  text-decoration: underline;
}
a.navbar-brand {
  color: rgba(0,0,0,.9)!important;
  text-decoration: none!important;
}
