<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <nuxt-link class="navbar-brand" to="/">Warscroll admin</nuxt-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/grand-aliances" v-if="isAuthenticated">Grand Aliances</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/warbands" v-if="isAuthenticated">Warbands</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/units" v-if="isAuthenticated">Units</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/spells" v-if="isAuthenticated">Spells</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/battle-traits" v-if="isAuthenticated">Battle Traits</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/command-traits" v-if="isAuthenticated">Command Traits</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/command-abilities" v-if="isAuthenticated">Command Abilities</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/artefacts" v-if="isAuthenticated">Artefacts</nuxt-link>
          </li>
        </ul>
        <a class="my-2 my-lg-0" href="#" v-if="isAuthenticated" v-on:click="logOut">Exit</a>
      </div>
    </nav>
    <section class="container-fluid main-container">
      <nuxt/>
    </section>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { unsetToken } from '~/utils/auth'

  export default {
    middleware: 'check-auth',
    computed: mapGetters(['isAuthenticated', 'loggedUser']),
    mounted () {
      this.mount = true
    },
    methods: {
      logOut () {
        unsetToken()
      }
    }
  }
</script>
