<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <nuxt-link class="navbar-brand" to="/">Warscroll admin</nuxt-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/grand-aliances">Grand Aliances</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/warbands">Warbands</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/units">Units</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/spells">Spells</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/battle-traits">Battle Traits</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/command-traits">Command Traits</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/command-abilities">Command Abilities</nuxt-link>
          </li>
          <li class="nav-item" v-if="isAuthenticated">
            <nuxt-link class="nav-link" to="/artefacts">Artefacts</nuxt-link>
          </li>
        </ul>
      </div>
    </nav>
    <section class="container-fluid main-container">
      <nuxt />
    </section>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    computed: mapGetters([
      'isAuthenticated',
      'loggedUser'
    ]),
    middleware: 'logged'
  }
</script>
