<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new artefact</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <ArtefactsAdd :aliances="aliances" :artefact="artefactModel" @update="handleUpdate"></ArtefactsAdd>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <form>
          <div class="form-group">
            <label for="alianceName"><strong>Aliance:</strong></label>
            <select class="form-control" id="alianceName" v-model="selectedAliance">
              <template v-for="(aliance, index) in aliances">
                <option :value="aliance._id">
                  {{ aliance._id }}
                </option>
              </template>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div v-if="rendered">
      <div class="row" v-if="artefacts.length > 0">
        <div class="col-3">
          <h3>Artefact name:</h3>
          <div class="list-group" id="list-tab-artefacts" role="tablist">
            <template v-for="(artefact, index) in artefacts">
              <div v-if="artefact.aliance === selectedAliance" class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('artefact', artefact._id)" data-toggle="list" :href="createId('#artefact-desc', artefact._id)" role="tab">
                {{ artefact._id }}
                <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeArtefact(artefact, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </template>
          </div>
        </div>
        <div class="col-6">
          <div class="tab-content" id="nav-tabContent">
            <template v-for="(artefact, index) in artefacts">
              <div v-if="artefact.aliance === selectedAliance" class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('artefact-desc', artefact._id)" role="tabpanel">
                <h3>{{ artefact._id }} <a href="#" v-on:click="editArtefact(artefact, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
                <h5>Aliance: {{ artefact.aliance }}</h5>
                <div class="content" v-html="artefact.description"></div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div v-if="artefacts.length === 0" class="alert alert-warning" role="alert">
        List is empty
      </div>
    </div>
  </div>
</template>

<script>
  import ArtefactsAdd from '~/components/artefacts/Artefacts-add.vue'
  import { getFromApi, removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
      this.selectedAliance = this.aliances[0]._id
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        rendered: false,
        selectedAliance: 0,
        artefacts: [],
        artefactModel: {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    watch: {
      selectedAliance: function (id) {
        this.loadArtefacts(id)
        this.selectedTab = 0
      }
    },
    components: {
      ArtefactsAdd
    },
    props: ['aliances'],
    methods: {
      loadArtefacts (id) {
        let self = this
        getFromApi('api/skirmish/' + id + '/artefacts')
          .then((res) => {
            self.artefacts = res.data.artefacts
            self.rendered = true
          })
          .catch((e) => {
            self.rendered = true
          })
      },
      clearModel () {
        this.artefactModel = {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.artefacts.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.artefacts.length; i++) {
            if (self.artefacts[i]._id === emitValues.update._id) {
              self.artefacts[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeArtefact (artefact, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/skirmish/' + artefact.aliance + '/artefacts', {_id: artefact._id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.artefacts.length; i++) {
                if (self.artefacts[i]._id === artefact._id) {
                  (self.artefacts).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Artefact "' + artefact._id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Artefact deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editArtefact (artefact, e) {
        e.stopPropagation()
        e.preventDefault()
        this.artefactModel = artefact
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
