<template>
  <div>
    <h1>Artefact list:</h1><br/>
    <ArtefactsList :aliances=aliances></ArtefactsList>
  </div>
</template>

<script>
  import ArtefactsList from '~/components/artefacts/Artefacts-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Artefacts',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      ArtefactsList
    },
    asyncData ({ req }) {
      return getFromApi('api/skirmish')
        .then((res) => {
          return { aliances: res.data.aliances }
        })
    }
  }
</script>
