<template>
  <div>
    <h1>Battle Traits list:</h1><br/>
      <BattleTraitsList :aliances="aliances"></BattleTraitsList>
  </div>
</template>

<script>
  import BattleTraitsList from '~/components/battle-traits/Traits-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Battle Traits',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      BattleTraitsList
    },
    asyncData ({ req }) {
      return getFromApi('api/skirmish')
        .then((res) => {
          return { aliances: res.data.aliances }
        })
    }
  }
</script>
