<template>
  <div>
    <h1>Command Abilities list:</h1><br/>
    <AbilitiesList :abilities=abilities></AbilitiesList>
  </div>
</template>

<script>
  import AbilitiesList from '~/components/command-abilities/Abilities-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Command Abilities',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      AbilitiesList
    },
    asyncData ({ req }) {
      return getFromApi('api/abilities/command')
        .then((res) => {
          return { abilities: res.data.abilities }
        })
    }
  }
</script>
