<template>
  <div>
    <h1>Command Traits list:</h1><br/>
    <CommandTraitsList :aliances=aliances></CommandTraitsList>
  </div>
</template>

<script>
  import CommandTraitsList from '~/components/command-traits/Traits-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Command Traits',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      CommandTraitsList
    },
    asyncData ({ req }) {
      return getFromApi('api/skirmish')
        .then((res) => {
          return { aliances: res.data.aliances }
        })
    }
  }
</script>
