<template>
  <div>
    <h1>Grand Aliances list:</h1><br/>
    <SpellList :aliances=aliances></SpellList>
  </div>
</template>

<script>
  import SpellList from '~/components/grand-aliances/Grand-aliances.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Grand Aliances',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      SpellList
    },
    asyncData ({ req }) {
      return getFromApi('api/skirmish')
        .then((res) => {
          return { aliances: res.data.aliances }
        })
    }
  }
</script>
