<template>
  <div>
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Auth</h4>
            <form v-on:submit="auth($event)">
              <div class="form-group">
                <label for="exUserName">User name</label>
                <input type="text" v-model="user.name" required class="form-control" id="exUserName" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exUserPassword">Password</label>
                <input type="password" v-model="user.password" required class="form-control" id="exUserPassword" placeholder="******">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <p class="text-center">
                <br/>
                <a href="#"><img width="32" src="~assets/socials/vkontakte.png" /></a>&nbsp;
                <a href="#"><img width="32" src="~assets/socials/facebook.png" /></a>&nbsp;
                <a href="#"><img width="32" src="~assets/socials/google.png" /></a>&nbsp;
                <a href="#"><img width="32" src="~assets/socials/mail.png" /></a>&nbsp;
                <a href="#"><img width="32" src="~assets/socials/ok.png" /></a>&nbsp;
                <a href="#"><img width="32" src="~assets/socials/twitter.png" /></a>&nbsp;
                <a href="#"><img width="32" src="~assets/socials/yandex.png" /></a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { setToken } from '~/utils/auth'

let miniToastr
if (process.browser) {
  miniToastr = require('mini-toastr')
}

export default {
  mounted () {
    miniToastr.init()
  },
  layout: 'index',
  head: {
    title: 'Warscroll Admin Panel',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'About page description'
      }
    ]
  },
  notifications: {
    showMessage: {
      title: '',
      message: '',
      type: 'error'
    }
  },
  data: function () {
    return {
      user: {
        name: '',
        password: ''
      }
    }
  },
  methods: {
    auth (e) {
      e.preventDefault()
      let self = this
      if (this.user.name.length > 0 && this.user.password.length > 0) {
        axios.post('http://localhost:1337/authenticate', this.user)
          .then(function (response) {
            if (response.data.success === true) {
              self.showMessage({
                title: 'Success!',
                message: 'User auth!',
                type: 'success'
              })
              setToken(response.data.token)
              self.$router.replace('/grand-aliances')
            } else {
              self.showMessage({
                title: 'Error!',
                message: response.data.message,
                type: 'error'
              })
            }
          })
          .catch(function (error) {
            self.showMessage({
              title: 'Error!',
              message: error,
              type: 'error'
            })
          })
      }
      return false
    }
  }
}
</script>
