<template>
  <div>
    <h1>Spells list:</h1><br/>
    <SpellList :spells=spells></SpellList>
  </div>
</template>

<script>
  import SpellList from '~/components/spells/Spell-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Spells',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      SpellList
    },
    asyncData ({ req }) {
      return getFromApi('api/spells')
        .then((res) => {
          return { spells: res.data.spells }
        })
    }
  }
</script>
