<template>
  <div>
    <h1>Units list:</h1><br/>
    <Units :aliances=aliances></Units>
  </div>
</template>

<script>
  import Units from '~/components/units/Units-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Units',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      Units
    },
    asyncData ({ req }) {
      return getFromApi('api/skirmish')
        .then((res) => {
          return { aliances: res.data.aliances }
        })
    }
  }
</script>
