<template>
  <div>
    <h1>Warbands list:</h1><br/>
    <WarbandsList :aliances=aliances></WarbandsList>
  </div>
</template>

<script>
  import WarbandsList from '~/components/warbands/Warbands-list.vue'
  import { getFromApi } from '~/utils/api'

  export default {
    head: {
      title: 'Warbands',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'About page description'
        }
      ]
    },
    components: {
      WarbandsList
    },
    asyncData ({ req }) {
      return getFromApi('api/skirmish')
        .then((res) => {
          return { aliances: res.data.aliances }
        })
    }
  }
</script>
