<template>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-4">
            <fieldset>
              <legend>Type:</legend>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.hero" name="hero"> Hero
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.mage" name="mage"> Wizard
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.monster" name="monster"> Monster
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.priest" name="priest"> Priest
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.war_machine" name="warmachine"> War machine
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.totem" name="totem"> Totem
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.engineer" name="engineer"> Engineer
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Main:</legend>
              <div class="form-group">
                <label for="unitName">Unit name</label>
                <input type="text" name="_id" v-model="unit._id" class="form-control" id="unitName" placeholder="">
              </div>

              <div class="form-group">
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="unit.skirmish" name="skirmish"> Use in Skirmish
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="unitWarband">Unit warband</label>
                <select name="description" v-model="unit.warband" class="form-control" id="unitWarband">
                  <template v-for="(warband, index) in warbands">
                    <option :value="warband._id">
                      {{ warband._id }}
                    </option>
                  </template>
                </select>
              </div>
              <div class="form-group">
                <label for="unitStory">Unit story</label>
                <textarea name="story" v-model="unit.story" class="form-control" id="unitStory" rows="3"></textarea>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label for="unitScrollMove">Move</label>
                    <input type="number" min="0" step="1" name="scroll_move" v-model="unit.scroll_move" class="form-control" id="unitScrollMove" placeholder="">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="unitScrollWounds">Wounds</label>
                    <input type="number" min="0" step="1" name="scroll_wounds" v-model="unit.scroll_wounds" class="form-control" id="unitScrollWounds" placeholder="">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="unitScrollSave">Save</label>
                    <input type="number" min="0" step="1" name="scroll_save" v-model="unit.scroll_save" class="form-control" id="unitScrollSave" placeholder="">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="unitScrollBravery">Bravery</label>
                    <input type="number" min="0" step="1" name="scroll_bravery" v-model="unit.scroll_bravery" class="form-control" id="unitScrollBravery" placeholder="">
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>Generals Handbook:</legend>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="unitMin">Min models</label>
                    <input type="number" step="1" min="0" name="min" v-model="unit.min" class="form-control" id="unitMin">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="unitMax">Max models</label>
                    <input type="number" step="1" min="0" name="max" v-model="unit.max" class="form-control" id="unitMax">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="unitCost">Cost per model</label>
                    <input type="number" step="1" min="0" name="cost" v-model="unit.cost" class="form-control" id="unitCost">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset v-if="unit.skirmish">
              <legend>Skirmish:</legend>
              <div class="form-group">
                <label>Is Hero?</label>
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" v-model="unit.skirmish_hero" name="skirmish_hero" value="1"> Yes
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" v-model="unit.skirmish_hero" name="skirmish_hero" value="0"> No
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>is Official?</label>
                <div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" v-model="unit.skirmish_official" name="skirmish_official" value="1"> Yes
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" v-model="unit.skirmish_official" name="skirmish_official" value="0"> No
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="unitSkirmishMin">Min models</label>
                    <input type="number" step="1" min="0" name="skirmish_min" v-model="unit.skirmish_min" class="form-control" id="unitSkirmishMin">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="unitSkirmishMax">Max models</label>
                    <input type="number" step="1" min="0" name="skirmish_max" v-model="unit.skirmish_max" class="form-control" id="unitSkirmishMax">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="unitSkirmishCost">Cost per model</label>
                    <input type="number" step="1" min="0" name="skirmish_cost" v-model="unit.skirmish_cost" class="form-control" id="unitSkirmishCost">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-8">
            <fieldset>
              <legend>Full description:</legend>
              <div class="form-group">
                <label for="unitDescription">Description</label>
                <textarea name="story" v-model="unit.description" class="form-control" id="unitDescription" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="unitWargear">Wargear</label>
                <textarea name="story" v-model="unit.wargear" class="form-control" id="unitWargear" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="unitName">Image</label>
                <input type="text" name="image" v-model="unit.image" class="form-control" id="unitImage">
              </div>

              <div class="form-group">
                <legend>Damage Table:</legend>
                <div class="row">
                  <div class="col-3">
                    <input type="number" step="1" min="0" v-model.number="damage_table_width" class="form-control">
                  </div>
                </div>
                <table class="table" v-if="damage_table_width > 0">
                  <thead>
                  <tr>
                    <template v-if="unit.damage_table.head !== undefined && unit.damage_table.head.length > 0">
                      <th v-for="(item, index) in unit.damage_table.head">
                        <input type="text" v-model="unit.damage_table.head[index]" class="form-control">
                      </th>
                    </template>
                    <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('damage_table')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="unit.damage_table.body !== undefined && unit.damage_table.body.length > 0">
                    <tr v-for="(item, id) in unit.damage_table.body">
                      <td v-for="(sub_item, sub_index) in unit.damage_table.body[id]" :class="'index-'+id+'-'+sub_index">
                        <input type="text" v-model="unit.damage_table.body[id][sub_index]" class="form-control">
                      </td>
                      <td><button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('damage_table', index)"><i aria-hidden="true" class="fa fa-times"></i></button></td>
                    </tr>
                  </template>
                  <template v-else>
                    <td :colspan="damage_table_width">Nothing added</td>
                  </template>
                  </tbody>
                </table>
              </div>
              <div class="form-group" v-if="unit.mage">
                <legend>Spells:</legend>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>To cast</th>
                    <th>Range</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('spells')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="unit.spells.length > 0">
                    <tr v-for="(item, index) in unit.spells">
                      <td>
                        <input type="text" v-model="unit.spells[index].name" class="form-control">
                      </td>
                      <td>
                        <input type="number" min="0" step="1" v-model="unit.spells[index].casting_value" class="form-control">
                      </td>
                      <td>
                        <input type="number" min="0" step="1" v-model="unit.spells[index].range" class="form-control">
                      </td>
                      <td>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" v-model="unit.spells[index].offensive">
                          Offensive
                        </label>
                      </td>
                      <td>
                        <textarea v-model="unit.spells[index].description" class="form-control"></textarea>
                      </td>
                      <td><button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('spells', index)"><i aria-hidden="true" class="fa fa-times"></i></button></td>
                    </tr>
                  </template>
                  <template v-else>
                    <td colspan="6">Nothing added</td>
                  </template>
                  </tbody>
                </table>
              </div>
              <div class="form-group" v-if="unit.hero">
                <legend>Command Abilities:</legend>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('command_abilities')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="unit.command_abilities.length > 0">
                    <tr v-for="(item, index) in unit.command_abilities">
                      <td>
                        <input type="text" v-model="unit.command_abilities[index].name" class="form-control">
                      </td>
                      <td>
                        <textarea v-model="unit.command_abilities[index].description" class="form-control"></textarea>
                      </td>
                      <td><button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('command_abilities', index)"><i aria-hidden="true" class="fa fa-times"></i></button></td>
                    </tr>
                  </template>
                  <template v-else>
                    <td colspan="3">Nothing added</td>
                  </template>
                  </tbody>
                </table>
              </div>
            </fieldset>
            <fieldset>
              <legend>Missile weapons:</legend>
              <div class="form-group">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Range</th>
                    <th>Attacks</th>
                    <th>To hit</th>
                    <th>To wound</th>
                    <th>Rend</th>
                    <th>Damage</th>
                    <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('missile_weapons')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                    <template v-if="unit.missile_weapons.length > 0">
                      <tr v-for="(item, index) in unit.missile_weapons">
                        <td>
                          <input type="text" v-model="unit.missile_weapons[index]['name']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.missile_weapons[index]['range']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.missile_weapons[index]['attacks']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.missile_weapons[index]['to_hit']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.missile_weapons[index]['to_wound']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.missile_weapons[index]['rend']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.missile_weapons[index]['damage']" class="form-control">
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('missile_weapons', index)"><i aria-hidden="true" class="fa fa-times"></i></button>
                        </td>
                      </tr>
                    </template>
                    <template v-else>
                      <td colspan="8">Nothing added</td>
                    </template>
                  </tbody>
                </table>
              </div>
              <legend>Melee weapons:</legend>
              <div class="form-group">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Range</th>
                      <th>Attacks</th>
                      <th>To hit</th>
                      <th>To wound</th>
                      <th>Rend</th>
                      <th>Damage</th>
                      <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('melee_weapons')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                    </tr>
                  </thead>
                  <tbody>
                    <template v-if="unit.melee_weapons.length > 0">
                      <tr v-for="(item, index) in unit.melee_weapons">
                        <td>
                          <input type="text" v-model="unit.melee_weapons[index]['name']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.melee_weapons[index]['range']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.melee_weapons[index]['attacks']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.melee_weapons[index]['to_hit']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.melee_weapons[index]['to_wound']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.melee_weapons[index]['rend']" class="form-control">
                        </td>
                        <td>
                          <input type="number" step="1" min="0" v-model="unit.melee_weapons[index]['damage']" class="form-control">
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('melee_weapons', index)"><i aria-hidden="true" class="fa fa-times"></i></button>
                        </td>
                      </tr>
                    </template>
                    <template v-else>
                      <td colspan="8">Nothing added</td>
                    </template>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <legend>Abilities:</legend>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('abilities')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                    <template v-if="unit.abilities.length > 0">
                      <tr v-for="(item, index) in unit.abilities">
                        <td>
                          <input type="text" v-model="unit.abilities[index]['name']" class="form-control">
                        </td>
                        <td>
                          <textarea v-model="unit.abilities[index]['description']" class="form-control"></textarea>
                        </td>
                        <td><button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('abilities', index)"><i aria-hidden="true" class="fa fa-times"></i></button></td>
                      </tr>
                    </template>
                    <template v-else>
                      <td colspan="3">Nothing added</td>
                    </template>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <legend>Keywords:</legend>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Key</th>
                    <th width="45"><button type="button" class="btn btn-success btn-sm btn-e-sm" v-on:click="addElement('keywords')"><i aria-hidden="true" class="fa fa-plus"></i></button></th>
                  </tr>
                  </thead>
                  <tbody>
                    <template v-if="unit.keywords.length > 0">
                      <tr v-for="(item, index) in unit.keywords">
                        <td>
                          <input type="text" v-model="unit.keywords[index]" class="form-control">
                        </td>
                        <td><button type="button" class="btn btn-danger btn-sm btn-e-sm" v-on:click="addElement('keywords', index)"><i aria-hidden="true" class="fa fa-times"></i></button></td>
                      </tr>
                    </template>
                    <template v-else>
                      <td colspan="2">Nothing added</td>
                    </template>
                  </tbody>
                </table>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="text-right" v-if="unit.blank !== undefined">
          <button role="button" v-on:click="addUnitToDB" type="button" class="btn btn-info">Add unit to DB</button>
        </div>
        <div class="text-right" v-else>
          <button role="button" v-on:click="clearUnit" type="button" class="btn btn-warning">Cancel</button>&nbsp;
          <button role="button" v-on:click="addUnitToDB" type="button" class="btn btn-info">Update unit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { putToApi, postToApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }
  export default {
    data: function () {
      return {
        damage_table_width: 0
      }
    },
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showNotify: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    props: [
      'warbands',
      'aliances',
      'unit'
    ],
    watch: {
      damage_table_width: function (count) {
        this.updateDamageTableWidth(count)
      }
    },
    methods: {
      updateDamageTableWidth (count) {
        if (this.unit.damage_table.head === undefined) {
          var array1 = []

          for (let i = 0; i < count; i++) {
            array1.push('')
          }

          this.unit.damage_table = {
            head: array1,
            body: []
          }
        } else {
          var currentLength = Object.keys(this.unit.damage_table.head).length
          if (currentLength > count) {
            for (let i = currentLength; i > count; i--) {
              let t = i - 1
              this.unit.damage_table.head.splice(t, 1)
            }
          } else if (currentLength === count) {
            // forget
          } else {
            for (let i = currentLength; i < count; i++) {
              this.unit.damage_table.head.push('')
            }
          }
        }
      },
      addElement (element, index) {
        var self = this
        if (index !== undefined) {
          if (element !== 'damage_table') {
            self.unit[element].splice(index, 1)
          } else {
            // toDo
          }
        } else {
          switch (element) {
            case 'missile_weapons':
              self.unit.missile_weapons.push({
                name: '',
                range: 0,
                attacks: 0,
                to_hit: 0,
                to_wound: 0,
                rend: 0,
                damage: 0
              })
              break
            case 'melee_weapons':
              self.unit.melee_weapons.push({
                name: '',
                range: 0,
                attacks: 0,
                to_hit: 0,
                to_wound: 0,
                rend: 0,
                damage: 0
              })
              break
            case 'keywords':
              self.unit.keywords.push('')
              break
            case 'abilities':
              self.unit.abilities.push({
                name: '',
                description: ''
              })
              break
            case 'spells':
              self.unit.spells.push({
                name: '',
                casting_value: 0,
                range: 0,
                offensive: false,
                description: ''
              })
              break
            case 'command_abilities':
              self.unit.command_abilities.push({
                name: '',
                description: ''
              })
              break
            case 'damage_table':
              // toDo
              break
          }
        }
      },
      clearUnit () {
        this.$emit('update', {clear: true})
      },
      addUnitToDB () {
        let self = this
        if (this.unit.blank !== undefined) {
          postToApi('api/skirmish/' + this.aliance._id, this.unit)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.unit)
                self.showNotify({
                  title: 'Success!',
                  message: 'Unit "' + self.unit._id + '" - added',
                  type: 'success'
                })
                self.$emit('update', {add: self.unit})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        } else {
          putToApi('api/skirmish/' + this.aliance._id, this.unit)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.unit)
                self.showNotify({
                  title: 'Success!',
                  message: 'Unit "' + self.unit._id + '" - updated',
                  type: 'success'
                })
                self.$emit('update', {update: self.unit})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        }
        return false
      }
    }
  }
</script>
