<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new unit</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <UnitsAdd v-if="warbands.length > 0" :aliances="aliances" :warbands="warbands" :unit="unitModel" @update="handleUpdate"></UnitsAdd>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <form>
          <div class="form-group">
            <label for="alianceName"><strong>Aliance:</strong></label>
            <select class="form-control" id="alianceName" v-model="selectedAliance">
              <template v-for="(aliance, index) in aliances">
                <option :value="aliance._id">
                  {{ aliance._id }}
                </option>
              </template>
            </select>
          </div>
        </form>
      </div>
      <div class="col-3">
        <form>
          <div class="form-group">
            <label for="alianceName"><strong>Warband:</strong></label>
            <select class="form-control" id="warbandName" v-model="selectedWarband">
              <template v-for="(warband, index) in warbands">
                <option :value="warband._id">
                  {{ warband._id }}
                </option>
              </template>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div v-if="rendered">
      <div class="row" v-if="units.length > 0">
        <div class="col-3">
          <h3>Unit name:</h3>
          <div class="list-group" id="list-tab-units" role="tablist">
            <template v-for="(unit, index) in units">
              <div v-if="unit.warband === selectedWarband" class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('units', unit._id)" data-toggle="list" :href="createId('#units-desc', unit._id)" role="tab">
                {{ unit._id }} <span v-if="unit.hero">[H]</span><span v-if="unit.skirmish">[SK]</span><span v-if="unit.skirmish && unit.skirmish_hero">[SKH]</span><span v-if="unit.skirmish && !unit.skirmish_official">[*]</span>
                <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeUnit(unit, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </template>
          </div>
        </div>
        <div class="col-6">
          <div class="tab-content" id="nav-tabContent">
            <template v-for="(unit, index) in units">
              <div v-if="unit.warband === selectedWarband" class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('unit-desc', unit._id)" role="tabpanel">
                <h3>{{ unit._id }} <a href="#" v-on:click="editUnit(unit, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
                <h5>Warband: {{ unit.warband }}</h5>

                <div class="card" style="margin-bottom: 1rem;">
                  <div class="card-body">
                    <h4 class="card-title">Generals Handbook</h4>
                    <ul style="margin: 0">
                      <li v-if="unit.hero">Hero</li>
                      <li>Min: <strong>{{ unit.min }}</strong></li>
                      <li>Max: <strong>{{ unit.max }}</strong></li>
                      <li>Cost per model: <strong>{{ unit.cost }}</strong></li>
                    </ul>
                  </div>
                </div>

                <h6 v-if="unit.spells.length > 0">spells: {{ unit.spells }}</h6>
                <h6 v-if="unit.keywords.length > 0">tags: {{ unit.keywords }}</h6>
                <h6 v-if="unit.abilities.length > 0">abilities: {{ unit.abilities }}</h6>
                <h6 v-if="unit.command_abilities.length > 0">command_abilities: {{ unit.command_abilities }}</h6>

                <div v-if="unit.skirmish" class="card" style="margin-top: 1rem;margin-bottom: 1rem;">
                  <div class="card-body">
                    <h4 class="card-title">Skirmish</h4>
                    <ul style="margin: 0">
                      <li v-if="unit.skirmish_hero"><strong>Skirmish Hero</strong></li>
                      <li v-if="unit.skirmish_official">Official</li>
                      <li v-else>Unofficial</li>
                      <li>Min: <strong>{{ unit.skirmish_min }}</strong></li>
                      <li>Max: <strong>{{ unit.skirmish_max }}</strong></li>
                      <li>Cost per model: <strong>{{ unit.skirmish_cost }}</strong></li>
                    </ul>
                  </div>
                </div>

                <div class="content" v-html="unit.description"></div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div v-if="units.length === 0" class="alert alert-warning" role="alert">
        List is empty
      </div>
    </div>
  </div>
</template>

<script>
  import UnitsAdd from '~/components/units/Units-add.vue'
  import { getFromApi, removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
      this.selectedAliance = this.aliances[0]._id
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        rendered: false,
        selectedAliance: 0,
        selectedWarband: 0,
        warbands: [],
        units: [],
        warbandModel: {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        },
        unitModel: {
          _id: '',
          warband: '',
          description: '',
          wargear: '',
          scroll_move: 0,
          scroll_wounds: 0,
          scroll_save: 0,
          scroll_bravery: 0,
          story: '',
          min: 0,
          max: 1,
          cost: 0,
          mage: false,
          magic_lvl: 0,
          hero: false,
          image: '',
          missile_weapons: [],
          melee_weapons: [],
          spells: [],
          keywords: [],
          abilities: [],
          command_abilities: [],
          skirmish: false,
          skirmish_min: 0,
          skirmish_max: 1,
          skirmish_cost: 0,
          skirmish_official: false,
          skirmish_hero: false,
          monster: false,
          priest: false,
          war_machine: false,
          totem: false,
          engineer: false,
          damage_table: {},
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    watch: {
      selectedAliance: function (id) {
        this.loadWarbands(id)
      },
      selectedWarband: function (id) {
        this.loadUnits(id)
        this.selectedTab = 0
      }
    },
    components: {
      UnitsAdd
    },
    props: ['aliances'],
    methods: {
      editUnit (unit, e) {
        e.stopPropagation()
        e.preventDefault()
        this.unitModel = unit
        this.showForm = true
        return false
      },
      loadUnits (id) {
        let self = this
        getFromApi('api/skirmish/' + self.selectedAliance + '/units/' + id)
          .then((res) => {
            self.units = res.data.units
            self.rendered = true
          })
          .catch((e) => {
            self.rendered = true
          })
      },
      loadWarbands (id) {
        let self = this
        getFromApi('api/skirmish/' + id)
          .then((res) => {
            self.warbands = res.data.warbands
            self.selectedWarband = res.data.warbands[0]._id
          })
          .catch((e) => {
          })
      },
      clearModel () {
        this.unitModel = {
          _id: '',
          warband: '',
          description: '',
          wargear: '',
          scroll_move: 0,
          scroll_wounds: 0,
          scroll_save: 0,
          scroll_bravery: 0,
          story: '',
          min: 0,
          max: 1,
          cost: 0,
          mage: false,
          magic_lvl: 0,
          hero: false,
          image: '',
          missile_weapons: [],
          melee_weapons: [],
          spells: [],
          keywords: [],
          abilities: [],
          command_abilities: [],
          skirmish: false,
          skirmish_min: 0,
          skirmish_max: 1,
          skirmish_cost: 0,
          skirmish_official: false,
          skirmish_hero: false,
          monster: false,
          priest: false,
          war_machine: false,
          totem: false,
          engineer: false,
          damage_table: {},
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.units.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.units.length; i++) {
            if (self.units[i]._id === emitValues.update._id) {
              self.units[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeUnit (unit, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/skirmish/' + unit.warband, {_id: unit._id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.units.length; i++) {
                if (self.units[i]._id === unit._id) {
                  (self.units).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Unit "' + unit._id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Unit deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editWarband (unit, e) {
        e.stopPropagation()
        e.preventDefault()
        this.unitModel = unit
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
