<template>
  <div class="VueToNuxtLogo">
    <div class="row">
      <div class="col-12">
        <p><a href="#" v-on:click="toggleAddForm" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new warband</a></p>
        <div class="cardAdd" :class="[showForm ? 'active' : '']">
          <WarbandsAdd :aliances="aliances" :warband="warbandModel" @update="handleUpdate"></WarbandsAdd>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <form>
          <div class="form-group">
            <label for="alianceName"><strong>Aliance:</strong></label>
            <select class="form-control" id="alianceName" v-model="selectedAliance">
              <template v-for="(aliance, index) in aliances">
                <option :value="aliance._id">
                  {{ aliance._id }}
                </option>
              </template>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="" v-if="rendered">
      <div class="row" v-if="warbands.length > 0">
        <div class="col-3">
          <h3>Warband name:</h3>
          <div class="list-group" id="list-tab-warbands" role="tablist">
            <template v-for="(warband, index) in warbands">
              <div v-if="warband.aliance === selectedAliance" class="list-group-item list-group-item-action" v-on:click="toggleTab(index, $event)" :class="[index === selectedTab ? 'active' : '']" :id="createId('warband', warband._id)" data-toggle="list" :href="createId('#warband-desc', warband._id)" role="tab">
                {{ warband._id }}
                <a href="#" class="pull-right btn btn-danger btn-sm btn-e-sm" v-on:click="removeWarband(warband, $event)"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
            </template>
          </div>
        </div>
        <div class="col-6">
          <div class="tab-content" id="nav-tabContent">
            <template v-for="(warband, index) in warbands">
              <div v-if="warband.aliance === selectedAliance" class="tab-pane fade show" :class="[index === selectedTab ? 'active' : '']" :id="createId('warband-desc', warband._id)" role="tabpanel">
                <h3>{{ warband._id }} <a href="#" v-on:click="editWarband(warband, $event)"><i class="fa fa-pencil-square text-info" aria-hidden="true"></i></a></h3>
                <h5>Aliance: {{ warband.aliance }}</h5>
                <div class="content" v-html="warband.description"></div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div v-if="warbands.length === 0" class="alert alert-warning" role="alert">
        List is empty
      </div>
    </div>
  </div>
</template>

<script>
  import WarbandsAdd from '~/components/warbands/Warbands-add.vue'
  import { getFromApi, removeFromApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }

  export default {
    mounted () {
      miniToastr.init()
      this.selectedAliance = this.aliances[0]._id
    },
    notifications: {
      showMessage: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    data: function () {
      return {
        rendered: false,
        selectedAliance: 0,
        warbands: [],
        warbandModel: {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        },
        showForm: false,
        selectedTab: 0
      }
    },
    watch: {
      selectedAliance: function (id) {
        this.loadWarbands(id)
        this.selectedTab = 0
      }
    },
    components: {
      WarbandsAdd
    },
    props: ['aliances'],
    methods: {
      loadWarbands (id) {
        let self = this
        getFromApi('api/skirmish/' + id)
          .then((res) => {
            self.warbands = res.data.warbands
            this.rendered = true
          })
          .catch((e) => {
            this.rendered = true
          })
      },
      clearModel () {
        this.warbandModel = {
          _id: '',
          description: '',
          aliance: '',
          blank: true
        }
      },
      handleUpdate (emitValues) {
        if (emitValues.clear !== undefined && emitValues.clear === true) {
          this.clearModel()
        } else if (emitValues.add !== undefined) {
          this.warbands.push(emitValues.add)
        } else if (emitValues.update !== undefined) {
          let self = this
          for (let i = 0; i < self.warbands.length; i++) {
            if (self.warbands[i]._id === emitValues.update._id) {
              self.warbands[i] = emitValues.update
            }
          }
        }
      },
      toggleAddForm () {
        this.showForm = !this.showForm
        return false
      },
      removeWarband (warband, e) {
        let self = this
        e.stopPropagation()
        e.preventDefault()
        removeFromApi('api/skirmish/' + warband.aliance, {_id: warband._id})
          .then(function (response) {
            if (response.data.status === 'OK') {
              for (let i = 0; i < self.warbands.length; i++) {
                if (self.warbands[i]._id === warband._id) {
                  (self.warbands).splice(i, 1)
                }
              }
              self.showMessage({
                title: 'Success!',
                message: 'Warband "' + warband._id + '" - deleted',
                type: 'info'
              })
              self.clearModel()
            } else {
              self.showMessage({
                title: 'Error!',
                message: 'Server error while Warband deleting',
                type: 'error'
              })
              self.clearModel()
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        return false
      },
      editWarband (aliance, e) {
        e.stopPropagation()
        e.preventDefault()
        this.warbandModel = aliance
        this.showForm = true
        return false
      },
      toggleTab (index, e) {
        this.selectedTab = parseInt(index, 10)
      },
      createId (text, id) {
        return text + (id).replace(/\s/g, '')
      }
    }
  }
</script>
