<template>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="warbandName">Warband name</label>
          <input type="text" name="_id" v-model="warband._id" class="form-control" id="warbandName" placeholder="">
        </div>
        <div class="form-group">
          <label for="warbandDescription">Warband description</label>
          <textarea name="description" v-model="warband.description" class="form-control" id="warbandDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="warbandDescription">Warband aliance</label>
          <select name="description" v-model="warband.aliance" class="form-control" id="warbandAliance">
            <template v-for="(aliance, index) in aliances">
              <option :value="aliance._id">
                {{ aliance._id }}
              </option>
            </template>
          </select>
        </div>
        <div class="text-right" v-if="warband.blank !== undefined">
          <button role="button" v-on:click="addWarbandToDB" type="button" class="btn btn-info">Add warband to DB</button>
        </div>
        <div class="text-right" v-else>
          <button role="button" v-on:click="clearWarband" type="button" class="btn btn-warning">Cancel</button>&nbsp;
          <button role="button" v-on:click="addWarbandToDB" type="button" class="btn btn-info">Update warband</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { putToApi, postToApi } from '~/utils/api'

  let miniToastr
  if (process.browser) {
    miniToastr = require('mini-toastr')
  }
  export default {
    mounted () {
      miniToastr.init()
    },
    notifications: {
      showNotify: {
        title: '',
        message: '',
        type: 'error'
      }
    },
    props: [
      'warband',
      'aliances'
    ],
    methods: {
      clearWarband () {
        this.$emit('update', {clear: true})
      },
      addWarbandToDB () {
        let self = this
        if (this.warband.blank !== undefined) {
          postToApi('api/skirmish/' + this.warband.aliance, this.warband)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.warband)
                self.showNotify({
                  title: 'Success!',
                  message: 'Warband "' + self.warband._id + '" - added',
                  type: 'success'
                })
                self.$emit('update', {add: self.warband})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        } else {
          putToApi('api/skirmish/' + this.warband.aliance, this.warband)
            .then(function (response) {
              if (response.data.error === undefined) {
                console.dir(response.data.warband)
                self.showNotify({
                  title: 'Success!',
                  message: 'Warband "' + self.warband._id + '" - updated',
                  type: 'success'
                })
                self.$emit('update', {update: self.warband})
              } else {
                self.showNotify({
                  title: 'Error!',
                  message: response.data.error,
                  type: 'error'
                })
              }
            })
            .catch(function (error) {
              self.showNotify({
                title: 'Error!',
                message: error,
                type: 'error'
              })
            })
        }
        return false
      }
    }
  }
</script>
